Repository knishioka/freee-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, github-actions, dependencies, api, auth, types

.github/labeler.yml:

# Label configuration for PR Labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.config.js'
      - 'src/__tests__/**'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/api/**'

auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/auth/**'

types:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/types/**'
      - '**/*.d.ts'

feat(api): add bank transfers (口座振替) endpoints for fund movement tracking
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

style: fix quote style for CI lint compliance
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/types/freee.ts
Labels: api, types

feat(api): add bank transfers endpoints for fund movement tracking (#102)
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add segment tags for department/project analysis
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add segment tags for department/project analysis (#100)
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add deal update and payment recording endpoints
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add expense application endpoints for approval workflow
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

refactor: extract inline types to named interfaces per review feedback
  src/api/freeeClient.ts
  src/index.ts
  src/types/freee.ts
Labels: api, types

fix: address PR review feedback for expense application endpoints
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/schemas.ts
  src/types/freee.ts
Labels: api, types

feat(api): add deal update and payment recording endpoints (#103)
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add manual journal creation for closing adjustments (#92)
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
Labels: tests, api

refactor: optimize debit/credit balance validation to single-pass
  src/__tests__/index.test.ts
  src/index.ts
Labels: tests

feat(api): add manual journal creation for closing adjustments (#104)
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
Labels: tests, api

feat(api): add expense application endpoints for approval workflow (#105)
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add receipt management for electronic bookkeeping compliance
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add journals endpoint for monthly closing verification
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add monthly closing checklist tool for automated month-end checks (#99)
  src/__tests__/api/monthlyClosingCheck.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add journals endpoint for monthly closing verification (#107)
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add receipt management for electronic bookkeeping compliance (#106)
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix: address review feedback for monthly closing check
  src/__tests__/api/monthlyClosingCheck.test.ts
  src/api/freeeClient.ts
Labels: tests, api

feat(api): add monthly closing checklist tool (#108)
  src/__tests__/api/monthlyClosingCheck.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(security): require explicit encryption key and fix fixed salt in memory mode
  README.md
  src/__tests__/auth/tokenManager.test.ts
  src/auth/tokenManager.ts
  src/index.ts
Labels: documentation, tests, auth

fix(cache): add FIFO fallback eviction and replace MD5 with SHA-256
  src/__tests__/api/cache.test.ts
  src/api/cache.ts
Labels: tests, api

feat(schemas): add date format, offset, and amount validation to Zod schemas
  src/__tests__/schemas.test.ts
  src/schemas.ts
Labels: tests

fix: address PR review feedback - salt consistency and setup-auth regression
  scripts/setup-auth.js
  src/auth/tokenManager.ts
Labels: auth

fix(cache): address review feedback on hash truncation and eviction
  src/__tests__/api/cache.test.ts
  src/api/cache.ts
Labels: tests, api

fix(schemas): add calendar-aware date validation and refactor tests
  src/__tests__/schemas.test.ts
  src/schemas.ts
Labels: tests

fix(cache): add FIFO fallback eviction and replace MD5 with SHA-256 (#117)
  src/__tests__/api/cache.test.ts
  src/api/cache.ts
Labels: tests, api

feat(schemas): add date format, offset, and amount validation (#118)
  src/__tests__/schemas.test.ts
  src/schemas.ts
Labels: tests

fix(security): require explicit encryption key and fix fixed salt (#116)
  README.md
  scripts/setup-auth.js
  src/__tests__/auth/tokenManager.test.ts
  src/auth/tokenManager.ts
  src/index.ts
Labels: documentation, tests, auth

refactor(logging): replace informational console.error with debug module
  src/auth/tokenManager.ts
  src/index.ts
Labels: auth

fix: keep security warning and onboarding guidance as console.error
  src/index.ts
Labels: none

refactor(logging): replace informational console.error with debug module (#119)
  src/auth/tokenManager.ts
  src/index.ts
Labels: auth

fix(auth): validate FREEE_TOKEN_DATA_BASE64 with Zod and fix token expiry
  src/__tests__/index.test.ts
  src/index.ts
  src/schemas.ts
Labels: tests

fix(auth): validate FREEE_TOKEN_DATA_BASE64 with Zod and fix token expiry (#120)
  src/__tests__/index.test.ts
  src/index.ts
  src/schemas.ts
Labels: tests

fix(lint): add radix to all parseInt calls and enable ESLint rule
  .eslintrc.json
  src/api/freeeClient.ts
Labels: api

refactor(types): eliminate `as any` in error handling and retry logic
  .eslintrc.json
  src/__tests__/api/freeeClient.test.ts
  src/api/freeeClient.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

refactor(api): extract duplicated company ID URL parsing into helper
  src/api/freeeClient.ts
Labels: api

fix(lint): add radix to all parseInt calls and enable ESLint rule (#121)
  .eslintrc.json
  src/api/freeeClient.ts
Labels: api

refactor(types): eliminate `as any` in error handling and retry logic (#122)
  .eslintrc.json
  src/__tests__/api/freeeClient.test.ts
  src/api/freeeClient.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types
