Repository knishioka/freee-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, github-actions, dependencies, api, auth, types

fix(auth): add 401 retry guard and prevent token deletion on transient errors
  src/__tests__/api/freeeClient.test.ts
  src/api/freeeClient.ts
Labels: tests, api

docs: fix stale documentation references after refactoring waves
  .env.example
  CLAUDE.md
  README.md
  src/api/freeeClient.ts
  src/index.ts
Labels: documentation, api

chore: remove unused code and fix build config
  .github/workflows/ci.yml
  src/__tests__/index.test.ts
  src/constants.ts
  src/errors.ts
  src/index.ts
  tsconfig.json
Labels: tests, github-actions

docs: comment out TOKEN_STORAGE_PATH in README example to match .env.example
  README.md
Labels: documentation

fix: add error handling for package.json version reading
  src/index.ts
Labels: none

refactor(auth): remove redundant invalid_grant check in token deletion
  src/api/freeeClient.ts
Labels: api

docs: Fix stale documentation references after refactoring waves (#75)
  .env.example
  CLAUDE.md
  README.md
  src/api/freeeClient.ts
  src/index.ts
Labels: documentation, api

fix(auth): Add 401 retry guard and prevent token deletion on transient errors (#74)
  src/__tests__/api/freeeClient.test.ts
  src/api/freeeClient.ts
Labels: tests, api

chore: Remove unused code and fix build config (#76)
  .github/workflows/ci.yml
  src/__tests__/index.test.ts
  src/constants.ts
  src/errors.ts
  src/index.ts
  tsconfig.json
Labels: tests, github-actions

docs: restructure CLAUDE.md guidance for agent best practices
  CLAUDE.md
Labels: documentation

docs(claude): add path-specific Claude rules
  .claude/rules/freee-api.md
  .claude/rules/mcp-tools.md
  .claude/rules/testing.md
  .claude/rules/token-management.md
Labels: documentation

docs(readme): add multi-client MCP configuration examples
  README.md
Labels: documentation

docs(claude): clarify freee report endpoint name in constraints
  CLAUDE.md
Labels: documentation

docs(claude): align mcp tool rules with implementation patterns
  .claude/rules/mcp-tools.md
Labels: documentation

docs(claude): restructure CLAUDE.md into concise agent guidance (#77)
  CLAUDE.md
Labels: documentation

docs(claude): add path-specific Claude rules (#78)
  .claude/rules/freee-api.md
  .claude/rules/mcp-tools.md
  .claude/rules/testing.md
  .claude/rules/token-management.md
Labels: documentation

docs(readme): quote claude mcp env arguments
  README.md
Labels: documentation

docs(readme): add multi-client MCP configuration and README improvements (#79)
  README.md
Labels: documentation

feat(api): add TTL-based cache for master data to reduce API calls
  src/__tests__/api/cache.test.ts
  src/api/cache.ts
  src/api/freeeClient.ts
  src/constants.ts
Labels: tests, api

refactor(client): replace console.error with debug library in FreeeClient
  package-lock.json
  package.json
  src/api/freeeClient.ts
Labels: dependencies, api

feat: optimize API responses for LLM context efficiency
  src/__tests__/api/responseFormatter.test.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

style(client): simplify multi-line log message to single-line string
  src/api/freeeClient.ts
Labels: api

fix(api): address review feedback on cache implementation
  src/__tests__/api/cache.test.ts
  src/api/cache.ts
  src/api/freeeClient.ts
Labels: tests, api

refactor(client): replace console.error with debug library in FreeeClient (#86)
  package-lock.json
  package.json
  src/api/freeeClient.ts
Labels: dependencies, api

fix: address PR review feedback for response formatter
  src/__tests__/api/responseFormatter.test.ts
  src/api/responseFormatter.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add TTL-based cache for master data to reduce API calls (#85)
  src/__tests__/api/cache.test.ts
  src/api/cache.ts
  src/api/freeeClient.ts
  src/constants.ts
Labels: tests, api

feat: optimize API responses for LLM context efficiency (#87)
  src/__tests__/api/responseFormatter.test.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add auto-pagination and server-side aggregation for deals and invoices
  src/__tests__/api/pagination.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/constants.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add walletables, manual journals, and wallet transactions endpoints
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

docs(types): add TSDoc for status field and improve walletable_type type safety
  src/types/freee.ts
Labels: types

fix(api): address review feedback for pagination and aggregation
  src/__tests__/api/pagination.test.ts
  src/api/freeeClient.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add walletables, manual journals, and wallet transactions endpoints (#89)
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add auto-pagination and server-side aggregation (#88)
  src/__tests__/api/pagination.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/constants.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(analysis): add period comparison, monthly trends, and cash position tools
  src/__tests__/api/analysis.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(analysis): include income deals in receivables, fix computeTrend edge case
  src/__tests__/api/analysis.test.ts
  src/api/freeeClient.ts
Labels: tests, api

feat(analysis): add period comparison, monthly trends, and cash position tools (#90)
  src/__tests__/api/analysis.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(api): add tax code master endpoint for accurate tax calculation
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/constants.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix: pass companyId to getTaxCodes for multi-company support
  src/api/freeeClient.ts
  src/index.ts
Labels: api

feat(api): add tax code master endpoint for accurate tax calculation (#101)
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/constants.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix: address PR feedback - walletable_type union types and auth token selection
  src/__tests__/api/freeeClient.test.ts
  src/api/freeeClient.ts
Labels: tests, api

.github/labeler.yml:

# Label configuration for PR Labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.config.js'
      - 'src/__tests__/**'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/api/**'

auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/auth/**'

types:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/types/**'
      - '**/*.d.ts'
