Repository knishioka/freee-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, github-actions, dependencies, api, auth, types

.github/labeler.yml:

# Label configuration for PR Labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.config.js'
      - 'src/__tests__/**'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/api/**'

auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/auth/**'

types:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/types/**'
      - '**/*.d.ts'

fix: Resolve GitHub Actions CI failures
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: github-actions, dependencies

fix: Resolve CI failures for Dependabot PRs
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: github-actions, dependencies

fix: Add missing @types/jest dependency for test compilation
  package-lock.json
  package.json
Labels: dependencies

security: Replace actual company IDs with placeholder values
  README.md
Labels: documentation

docs: Add comprehensive implementation tips and troubleshooting guide to CLAUDE.md
  CLAUDE.md
Labels: documentation

ci: Update codecov action to v5 and merge all Dependabot changes
  .github/workflows/ci.yml
Labels: github-actions

security: Replace actual company IDs with placeholder values
  README.md
Labels: documentation

docs: Add comprehensive implementation tips and troubleshooting guide to CLAUDE.md
  CLAUDE.md
Labels: documentation

docs: Translate all Japanese text in README to English
  README.md
Labels: documentation

docs: Translate all Japanese text in README to English
  README.md
Labels: documentation

ci: Update codecov action to v5 and merge all Dependabot changes
  .github/workflows/ci.yml
Labels: github-actions

feat: Enhance tool descriptions with efficiency tips and best practices
  src/index.ts
Labels: none

feat: Enhance tool descriptions with efficiency tips and best practices
  src/index.ts
Labels: none

docs: Add comprehensive MCP authentication and security guide
  MCP_AUTHENTICATION.md
Labels: documentation

docs: Add comprehensive MCP authentication and security guide
  MCP_AUTHENTICATION.md
Labels: documentation

docs: Update existing docs with security enhancements
  CLAUDE.md
  README.md
Labels: documentation

docs: Update existing docs with security enhancements
  CLAUDE.md
  README.md
Labels: documentation

security: Comprehensive token management and security enhancements
  .github/workflows/ci.yml
  .gitignore
  .gitleaks.toml
  CLAUDE.md
  MCP_AUTHENTICATION.md
  MIGRATION_COMPLETE.md
  README.md
  debug-encryption.js
  debug-token-expiry.js
  debug-token-issue.js
  package.json
  src/api/freeeClient.ts
  src/auth/tokenManager.ts
  src/index.ts
Labels: documentation, github-actions, dependencies, api, auth

security: Comprehensive token management and security enhancements
  .github/workflows/ci.yml
  .gitignore
  .gitleaks.toml
  CLAUDE.md
  MCP_AUTHENTICATION.md
  MIGRATION_COMPLETE.md
  README.md
  debug-encryption.js
  debug-token-expiry.js
  debug-token-issue.js
  package.json
  src/api/freeeClient.ts
  src/auth/tokenManager.ts
  src/index.ts
Labels: documentation, github-actions, dependencies, api, auth

security: Replace exposed credentials with placeholder values
  .gitleaks.toml
  debug-encryption.js
  debug-token-expiry.js
  debug-token-issue.js
Labels: none

security: Enhance gitleaks detection for freee-specific patterns
  .gitleaks.toml
Labels: none

chore: remove dead code and debug scripts
  .gitleaks.toml
  debug-encryption.js
  debug-token-expiry.js
  debug-token-issue.js
  scripts/debug-api.js
  scripts/simple-test.js
  scripts/test-token.js
  src/api/freeeClient.ts
  src/constants.ts
  src/index.ts
Labels: api

chore: fix npm audit vulnerabilities
  package-lock.json
Labels: dependencies

docs: Consolidate and clean up documentation
  .gitleaks.toml
  CLAUDE.md
  CONTRIBUTING.md
  MCP_AUTHENTICATION.md
  MIGRATION_COMPLETE.md
  README.md
  docs/freee-api-specification.md
Labels: documentation

ci: lower npm audit threshold to critical
  .github/workflows/ci.yml
Labels: github-actions

docs: Clarify FREEE_COMPANY_ID purpose in env var examples
  README.md
Labels: documentation

chore: Remove dead code and debug scripts (#60)
  .github/workflows/ci.yml
  .gitleaks.toml
  debug-encryption.js
  debug-token-expiry.js
  debug-token-issue.js
  package-lock.json
  scripts/debug-api.js
  scripts/simple-test.js
  scripts/test-token.js
  src/api/freeeClient.ts
  src/constants.ts
  src/index.ts
Labels: github-actions, dependencies, api

docs: Consolidate and clean up documentation (#61)
  CLAUDE.md
  CONTRIBUTING.md
  MCP_AUTHENTICATION.md
  MIGRATION_COMPLETE.md
  README.md
  docs/freee-api-specification.md
Labels: documentation

fix(auth): prevent token refresh race condition with promise deduplication
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/auth/tokenManager.test.ts
  src/api/freeeClient.ts
  src/auth/tokenManager.ts
Labels: tests, api, auth

security: Harden token encryption with random salt and remove debug logging
  src/auth/tokenManager.ts
  src/index.ts
Labels: auth

fix: Address review feedback on error handling and cleanup
  src/auth/tokenManager.ts
  src/index.ts
Labels: auth

fix: address PR review feedback - circuit breaker and test flakiness
  src/__tests__/api/freeeClient.test.ts
  src/api/freeeClient.ts
  src/errors.ts
Labels: tests, api

security: Harden token encryption with random salt and remove debug logging (#65)
  src/auth/tokenManager.ts
  src/index.ts
Labels: auth

fix(auth): Prevent token refresh race condition with promise deduplication (#64)
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/auth/tokenManager.test.ts
  src/api/freeeClient.ts
  src/auth/tokenManager.ts
  src/errors.ts
Labels: tests, api, auth

fix(auth): use TokenManager for encrypted token storage in setup-auth
  scripts/setup-auth.js
  src/__tests__/scripts/setup-auth.test.ts
Labels: tests

feat: Upgrade MCP SDK from 0.6.x to 1.x
  package-lock.json
  package.json
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/index.ts
  src/jsonSchemas.ts
  src/schemas.ts
Labels: tests, dependencies

refactor: Improve type safety and error handling per review feedback
  src/index.ts
Labels: none

fix(auth): address PR review feedback for setup-auth
  scripts/setup-auth.js
  src/__tests__/scripts/setup-auth.test.ts
Labels: tests

fix(auth): use TokenManager for encrypted token storage in setup-auth (#66)
  scripts/setup-auth.js
  src/__tests__/scripts/setup-auth.test.ts
Labels: tests

feat: Upgrade MCP SDK from 0.6.x to 1.x (#67)
  package-lock.json
  package.json
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/index.ts
  src/jsonSchemas.ts
  src/schemas.ts
Labels: tests, dependencies
