Repository knishioka/freee-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, github-actions, dependencies, api, auth, types

.github/labeler.yml:

# Label configuration for PR Labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.config.js'
      - 'src/__tests__/**'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/api/**'

auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/auth/**'

types:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/types/**'
      - '**/*.d.ts'

chore(ci): slim down CI workflow to essential jobs only
  .github/workflows/ci.yml
Labels: github-actions

fix(test): add FREEE_TOKEN_ENCRYPTION_KEY env setup to setup-auth tests
  src/__tests__/scripts/setup-auth.test.ts
Labels: tests

fix(test): use targeted env var modification instead of process.env replacement
  src/__tests__/scripts/setup-auth.test.ts
Labels: tests

fix(test): add missing env setup to setup-auth encryption tests (#130)
  src/__tests__/scripts/setup-auth.test.ts
Labels: tests

chore(ci): slim down CI workflow to essential jobs only (#129)
  .github/workflows/ci.yml
Labels: github-actions

fix(deps): resolve npm audit HIGH vulnerabilities
  package-lock.json
  package.json
  src/auth/tokenManager.ts
Labels: dependencies, auth

docs: add npx/GitHub direct installation method to README
  README.md
  package.json
Labels: documentation, dependencies

docs: add Windows config path to Quick Start section
  README.md
Labels: documentation

fix(auth): add error logging to catch blocks in tokenManager
  src/auth/tokenManager.ts
Labels: auth

docs: add npx/GitHub direct installation method to README (#132)
  README.md
  package.json
Labels: documentation, dependencies

fix(deps): resolve npm audit HIGH vulnerabilities (#131)
  package-lock.json
  package.json
  src/auth/tokenManager.ts
Labels: dependencies, auth

docs: add tool development guide and common bug patterns
  .claude/rules/adding-tools.md
  .claude/rules/testing.md
  CLAUDE.md
Labels: documentation

feat(skill): add /freee-setup Claude Code skill for setup automation
  skills/freee-setup/setup.sh
  skills/freee-setup/skill.md
Labels: documentation

docs: improve test example with argument verification and error handling
  .claude/rules/testing.md
Labels: documentation

fix(skill): address review feedback for freee-setup skill
  skills/freee-setup/setup.sh
  skills/freee-setup/skill.md
Labels: documentation

docs: add tool development guide and common bug patterns (#133)
  .claude/rules/adding-tools.md
  .claude/rules/testing.md
  CLAUDE.md
Labels: documentation

feat(skill): add /freee-setup Claude Code skill for setup automation (#134)
  skills/freee-setup/setup.sh
  skills/freee-setup/skill.md
Labels: documentation

feat(auth): add freee_auth_status tool for token status checking
  .eslintrc.json
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/index.ts
  src/schemas.ts
Labels: tests

fix: improve freee API error messages with structured formatting
  .eslintrc.json
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/errors.test.ts
  src/api/freeeClient.ts
  src/errors.ts
Labels: tests, api

feat(auth): add freee_clear_auth tool for token management
  .eslintrc.json
  src/__tests__/clearAuth.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/index.ts
  src/schemas.ts
Labels: tests

feat(items): add freee_get_items and freee_get_item tools
  .eslintrc.json
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/constants.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(auth): add freee_clear_auth tool for token management (#156)
  .eslintrc.json
  src/__tests__/clearAuth.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/index.ts
  src/schemas.ts
Labels: tests

fix: address PR review feedback for error handling
  src/__tests__/api/freeeClient.test.ts
  src/errors.ts
Labels: tests

fix(items): add cache to getItem for consistency with getItems
  src/api/freeeClient.ts
Labels: api

fix(auth): unify freee_auth_status response shape for empty companies
  src/index.ts
Labels: none

feat(items): add freee_get_items and freee_get_item tools (#157)
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/api/responseFormatter.ts
  src/constants.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix: freee APIエラーメッセージの詳細化 (#155)
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/errors.test.ts
  src/api/freeeClient.ts
  src/errors.ts
Labels: tests, api

feat(auth): add freee_auth_status tool for token status checking (#154)
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/index.ts
  src/schemas.ts
Labels: tests

feat(skill): add verify-freee-endpoint Claude Code skill
  skills/verify-freee-endpoint/skill.md
  skills/verify-freee-endpoint/verify.sh
Labels: documentation

feat(skill): add /add-freee-tool Claude Code skill for tool addition workflow
  skills/add-freee-tool/skill.md
Labels: documentation

feat(reports): add freee_segment_pnl tool for department/segment P&L
  src/__tests__/api/segmentPnl.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
Labels: tests, api

feat(reports): add freee_get_general_ledger tool for 総勘定元帳
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(reports): add freee_multiyear_comparison tool for multi-year P/L and BS comparison
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(skill): unify variable name in add-freee-tool convention docs
  skills/add-freee-tool/skill.md
Labels: documentation

fix: address review feedback on segment PnL tool
  src/__tests__/api/segmentPnl.test.ts
  src/index.ts
Labels: tests

feat(reports): add freee_segment_pnl tool for department/segment P&L (#160)
  src/__tests__/api/segmentPnl.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
Labels: tests, api

feat(skill): add /add-freee-tool Claude Code skill (#159)
  skills/add-freee-tool/skill.md
Labels: documentation

refactor: use flatMap/reduce for compact mode aggregation
  src/index.ts
Labels: none

refactor: extract _getMultiyearReport helper and simplify YoY calculation
  src/api/freeeClient.ts
Labels: api

fix(skill): address PR review feedback for verify-freee-endpoint
  skills/verify-freee-endpoint/verify.sh
Labels: none
