Repository knishioka/freee-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, github-actions, dependencies, api, auth, types

feat(skill): add verify-freee-endpoint Claude Code skill (#158)
  skills/verify-freee-endpoint/skill.md
  skills/verify-freee-endpoint/verify.sh
Labels: documentation

feat(reports): add freee_get_general_ledger tool for 総勘定元帳 (#161)
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(reports): add freee_multiyear_comparison tool (#162)
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(advisory): add freee_master_context tool for bulk master data retrieval
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(advisory): add freee_item_suggestion_context tool
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(tools): add freee_account_item_context tool for account item recommendations
  src/__tests__/api/accountItemContext.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(advisory): improve tax_code accuracy and consolidate category filter
  src/api/freeeClient.ts
Labels: api

refactor(master-context): address PR review feedback
  src/api/freeeClient.ts
  src/schemas.ts
  src/types/freee.ts
Labels: api, types

feat(advisory): add freee_item_suggestion_context tool (#164)
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix: address PR review feedback for account_item_context
  src/__tests__/api/accountItemContext.test.ts
  src/api/freeeClient.ts
  src/types/freee.ts
Labels: tests, api, types

feat(advisory): add freee_master_context tool for bulk master data retrieval (#163)
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(tools): add freee_account_item_context tool (#166)
  src/__tests__/api/accountItemContext.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(advisory): add freee_tagging_consistency_check tool
  src/__tests__/api/taggingConsistencyCheck.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(tagging-check): resolve PR review feedback
  src/__tests__/api/taggingConsistencyCheck.test.ts
  src/api/freeeClient.ts
  src/types/freee.ts
Labels: tests, api, types

fix(tagging-check): count partner tagging stats per deal, not per detail
  src/api/freeeClient.ts
Labels: api

style: fix quote style to use single quotes
  src/__tests__/index.test.ts
  src/index.ts
Labels: tests

feat(advisory): add freee_tagging_consistency_check tool (#167)
  src/__tests__/api/taggingConsistencyCheck.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(advisory): add freee_accounting_policy_context tool
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(accounting-policy): address PR review feedback
  src/index.ts
  src/types/freee.ts
Labels: types

feat(advisory): add freee_accounting_policy_context tool (#165)
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(analysis): add freee_ar_aging tool for accounts receivable aging analysis
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(advisory): add freee_journal_consistency_check tool
  src/__tests__/api/journalConsistencyCheck.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(analysis): add freee_partner_analysis tool for partner revenue analysis
  src/__tests__/api/partnerAnalysis.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(tools): add freee_kpi_dashboard tool for management KPI aggregation
  src/__tests__/api/kpiDashboard.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(ar-aging): skip future-dated deals from aging totals
  src/api/freeeClient.ts
Labels: api

feat(analysis): add freee_ar_aging tool (#148) (#168)
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix: address PR review feedback for journal consistency check
  src/__tests__/api/journalConsistencyCheck.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
Labels: tests, api

fix: address PR review feedback
  src/__tests__/api/kpiDashboard.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
Labels: tests, api

fix(advisory): address review feedback for freee_partner_analysis
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
Labels: tests, api

feat(advisory): add freee_journal_consistency_check tool (#169)
  src/__tests__/api/journalConsistencyCheck.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix: handle zero liabilities in current ratio calculation
  src/api/freeeClient.ts
Labels: api

feat(tools): add freee_kpi_dashboard tool (#171)
  src/__tests__/api/kpiDashboard.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(advisory): add freee_cost_analysis tool
  src/__tests__/costAnalysis.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix: address Gemini review feedback
  src/__tests__/costAnalysis.test.ts
  src/__tests__/handlers.test.ts
  src/api/freeeClient.ts
Labels: tests, api

fix: apply eslint single-quote formatting
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/schemas.ts
Labels: tests

feat(advisory): add freee_cost_analysis tool (#170)
  src/__tests__/costAnalysis.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(advisory): add freee_partner_analysis tool
  src/__tests__/api/journalConsistencyCheck.test.ts
  src/__tests__/api/kpiDashboard.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

feat(analysis): add freee_partner_analysis tool (#172)
  src/__tests__/api/partnerAnalysis.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(api): align schemas and params with official freee OpenAPI spec
  src/__tests__/api/segmentPnl.test.ts
  src/__tests__/index.test.ts
  src/api/freeeClient.ts
  src/index.ts
  src/schemas.ts
  src/types/freee.ts
Labels: tests, api, types

fix(segment-pnl): handle empty sections and enforce 5-section API limit
  src/api/freeeClient.ts
Labels: api

.github/labeler.yml:

# Label configuration for PR Labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.config.js'
      - 'src/__tests__/**'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/api/**'

auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/auth/**'

types:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/types/**'
      - '**/*.d.ts'
