Repository knishioka/freee-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, github-actions, dependencies, api, auth, types

fix(kpi+cost): fix KPI and cost analysis calculations using real freee API structure
  src/__tests__/api/kpiDashboard.test.ts
  src/__tests__/costAnalysis.test.ts
  src/api/freeeClient.ts
Labels: tests, api

fix(security): pin axios to 1.14.0 to avoid compromised 1.14.1
  package-lock.json
  package.json
Labels: dependencies

fix(security): pin axios to 1.14.0 to avoid compromised 1.14.1 (#173)
  package-lock.json
  package.json
Labels: dependencies

refactor(schema): migrate tool registration to Zod 4
  package-lock.json
  package.json
  src/__tests__/index.test.ts
  src/__tests__/schemas.test.ts
  src/index.ts
Labels: tests, dependencies

refactor(schema): migrate tool registration to Zod 4 (#176)
  package-lock.json
  package.json
  src/__tests__/index.test.ts
  src/__tests__/schemas.test.ts
  src/index.ts
Labels: tests, dependencies

feat(kpi): add structured dashboard output
  README.md
  package-lock.json
  package.json
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/index.test.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/types/freee.ts
Labels: documentation, tests, dependencies, api, types

feat(kpi): add structured dashboard output (#178)
  README.md
  package-lock.json
  package.json
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/index.test.ts
  src/api/responseFormatter.ts
  src/index.ts
  src/types/freee.ts
Labels: documentation, tests, dependencies, api, types

test(vitest): migrate Jest suite to Vitest
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/api/accountItemContext.test.ts
  src/__tests__/api/analysis.test.ts
  src/__tests__/api/cache.test.ts
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/api/journalConsistencyCheck.test.ts
  src/__tests__/api/kpiDashboard.test.ts
  src/__tests__/api/monthlyClosingCheck.test.ts
  src/__tests__/api/pagination.test.ts
  src/__tests__/api/partnerAnalysis.test.ts
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/api/segmentPnl.test.ts
  src/__tests__/api/taggingConsistencyCheck.test.ts
  src/__tests__/auth/tokenManager.test.ts
  src/__tests__/clearAuth.test.ts
  src/__tests__/costAnalysis.test.ts
  src/__tests__/errors.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/__tests__/schemas.test.ts
  src/__tests__/scripts/setup-auth.test.ts
  vitest.config.ts
Labels: tests, dependencies

chore(test): migrate jest tests to vitest
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/api/accountItemContext.test.ts
  src/__tests__/api/analysis.test.ts
  src/__tests__/api/cache.test.ts
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/api/journalConsistencyCheck.test.ts
  src/__tests__/api/kpiDashboard.test.ts
  src/__tests__/api/monthlyClosingCheck.test.ts
  src/__tests__/api/pagination.test.ts
  src/__tests__/api/partnerAnalysis.test.ts
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/api/segmentPnl.test.ts
  src/__tests__/api/taggingConsistencyCheck.test.ts
  src/__tests__/auth/tokenManager.test.ts
  src/__tests__/clearAuth.test.ts
  src/__tests__/costAnalysis.test.ts
  src/__tests__/errors.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/__tests__/schemas.test.ts
  src/__tests__/scripts/setup-auth.test.ts
  vitest.config.ts
Labels: tests, dependencies

fix(vitest): sync Node type dependency for CI
  package-lock.json
  package.json
Labels: dependencies

chore(test): satisfy vitest node type peer
  package-lock.json
  package.json
Labels: dependencies

test: migrate Jest suite to Vitest (#180)
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/__tests__/api/accountItemContext.test.ts
  src/__tests__/api/analysis.test.ts
  src/__tests__/api/cache.test.ts
  src/__tests__/api/freeeClient.test.ts
  src/__tests__/api/journalConsistencyCheck.test.ts
  src/__tests__/api/kpiDashboard.test.ts
  src/__tests__/api/monthlyClosingCheck.test.ts
  src/__tests__/api/pagination.test.ts
  src/__tests__/api/partnerAnalysis.test.ts
  src/__tests__/api/responseFormatter.test.ts
  src/__tests__/api/segmentPnl.test.ts
  src/__tests__/api/taggingConsistencyCheck.test.ts
  src/__tests__/auth/tokenManager.test.ts
  src/__tests__/clearAuth.test.ts
  src/__tests__/costAnalysis.test.ts
  src/__tests__/errors.test.ts
  src/__tests__/handlers.test.ts
  src/__tests__/index.test.ts
  src/__tests__/schemas.test.ts
  src/__tests__/scripts/setup-auth.test.ts
  vitest.config.ts
Labels: tests, dependencies

ci(deps): bump actions/setup-node from 4 to 6
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: github-actions

chore(gitignore): ignore local MCP config
  .gitignore
Labels: none

chore(deps): support TypeScript 6
  package-lock.json
  package.json
Labels: dependencies

chore(deps): support TypeScript 6 (#194)
  package-lock.json
  package.json
Labels: dependencies

.github/labeler.yml:

# Label configuration for PR Labeler

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - 'docs/**'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.test.ts'
      - '**/*.spec.ts'
      - 'jest.config.js'
      - 'src/__tests__/**'

github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/api/**'

auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/auth/**'

types:
  - changed-files:
    - any-glob-to-any-file:
      - 'src/types/**'
      - '**/*.d.ts'
